<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soccer Connect</title>
</head>
<body>
<form th:action="@{/adminDeletePlayer}" method="post">
    <table>
    <tr>
        <th th:style="${'border: 16px'}" >Player Name</th>
        <th th:style="${'border: 16px'}">Player Email</th>
        <th th:style="${'border: 16px'}">Player Mobile</th>
        <th th:style="${'border: 16px'}">Category</th>
        <th th:style="${'border: 16px'}">Remove Player</th>
    </tr>
    <tr th:each="player : ${players}">
        <td th:style="${'border: 16px'}" th:text="${player.name}"/>
        <td th:style="${'border: 16px'}" th:text="${player.email}"/>
        <td th:style="${'border: 16px'}" th:text="${player.mobile}"/>
        <td th:style="${'border: 16px'}" th:text="${player.category}"/>
        <td><button type="submit" th:value="${player.userId}" name="player">Delete Player</button></td>
    </tr>
    </table>
</form>
</body>
</html>