<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soccer Connect</title>
</head>
<body>
<h1>Welcome Admin! You have logged in.</h1>
<p><a th:href="@{/viewAllPlayers}">View Players</a></p>
<p><a th:href="@{/viewAllTeams}">View Teams</a></p>
<p><a th:href="@{/addGround}">Add a Ground</a></p>
<p><a th:href="@{/viewAllGrounds}">View Grounds</a></p>
<p><a th:href="@{/organizeGame}">Organize a game</a></p>
<p><a th:href="@{/viewGames}">View games</a></p>
<p><a th:href="@{/teamRanking}">Team ranking</a></p>
<p><a th:href="@{/logout}" >Logout</a></p>
</body>
</html>